{%include "store/base.html"%} 
{% load static %} 
{% block content %} 
{% load crispy_forms_tags %}

<style>
  body {
    background-color: gray;
  }
</style>

<body>
  <br />
  <div class=" container bg-white shadow-md p-5 form-layout">
    <h3>Create Your Account</h3>
    <h5>Purchase your favourite items today!</h5>
    <br />
    <br />
    <form method="POST" automcomplete="off">
      {% csrf_token %} 
      {{form.username|as_crispy_field}}
      <br>
      {{form.email|as_crispy_field}}
      <br>
      {{form.password1|as_crispy_field}}
      <br>
      {{form.password2|as_crispy_field}}
      <br>
      <div class="g-recaptcha" data-sitekey="6Le78gsqAAAAAAErQgPvJDH0nwKaj8ZTbPe5ausc"></div>
      <br><br>
      <button
        type="submit"
        class="
        btn
        btn-secondary
        btn-lg
        w-100
        btn-black
        p-2"
      >
        &nbsp; Create
      </button>
      <br><br>
      <div class="text-center">
        <a href="{% url 'my-login' %}">Already have an account?</a>
        
      </div>
    </form>
  </div>
<br>
  
</body>

{% endblock %}
